@font-face {
    font-family: 'Work Sans';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans';
    background-color: hsl(275, 100%, 97%);
    color: hsl(292, 42%, 14%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    margin: .5rem 0 0 1.1rem;
}

h2 {
    font-size: .9rem;
    font-weight: 600;
    max-width: 80%;
}

section {
    margin: 1rem .5rem .8rem 1.6rem;
}

p {
    font-size: .75rem;
    padding: 1rem 1.2rem .5rem 0;
    line-height: 1.3rem;
    color: hsl(292, 16%, 49%);
    width: 100%;
}

hr {
    width: 95%;
    margin-left: 0;
    margin-top: 1rem;
    border: solid .1rem hsla(293, 16%, 49%, 0.11);
}

section:last-of-type {
    padding-bottom: .5rem;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
}

#card {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 290px;
    box-shadow: rgba(105, 105, 105, 0.244) 1px 1px 15px;
    transition: box-shadow .5s ease-in;
}

#card:hover {
    box-shadow: rgba(105, 105, 105, 0.483) 4px 4px 35px;
    transition: box-shadow .5s ease-in;
}

.accordionBtn {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    width: 95%;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    align-items: center;
}

.accordionBtn:hover {
    color: hsl(290, 100%, 42%);
    text-shadow: 1px 0px 18px rgba(26, 26, 26, 0.11);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}

.opened {
    max-height: 11rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.plusMinusImg {
    max-height: 1.8rem;
    display: flex;
    margin: auto 0 auto auto;
}

.starImg {
    max-height: 1.4rem;
}


::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
    background: hsl(276, 71%, 93%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(277, 89%, 89%);
}


@media (min-width: 520px) {
    #card {
        min-width: 510px;
        max-width: 30vw;
        border-radius: .7rem;
    }

    h1 {
        font-size: 3rem;
        margin: 0 0 0 1.1rem;
    }

    p {
        font-size: .85rem;
    }

    h2 {
        max-width: 90%;
    }

    section {
        margin-left: 2rem;
    }

    section:last-of-type {
        padding-bottom: 1rem;
    }

    #head {
        margin-top: 2.2rem;
        margin-bottom: 1.6rem;
    }

    .starImg {
        max-height: 2.1rem;
    }
}

@media (min-width: 1100px) {
    #banner {
        content: url(./assets/images/background-pattern-desktop.svg);
    }
}