@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-family: 'Outfit';
    font-size: 12pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
}

body {
    background-color: var(--mainBG);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.7rem;
    padding: 0 1rem;
}

main .imgWrap .popupImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main .popupImgContainer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

main .popupImgContainer span {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 4rem;
    font-weight: 700;
    color: azure;
    cursor: pointer;
    z-index: 100;
}

main .popupImgContainer .popupImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 2rem;
    object-fit: cover;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.4rem;
    width: 330px;
    height: 540px;
    background-color: var(--cardBG);
    border-radius: .7rem;

    .container {
        position: relative;
        border-radius: .6rem;
        background-color: var(--cyan);
        max-height: 17.8rem;
        margin-bottom: 1rem;

        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        .equImg {
            align-self: center;
            width: 100%;
            border-radius: .5rem;
        }

        .imgWrap:hover .equImg {
            opacity: .5;
            cursor: pointer;
        }

        .imgWrap:hover .overlay {
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media (min-width: 1000px) {
    main .popupImgContainer .popupImg {
        width: 40%;
    }
}

@media (max-width: 330px) {
    .imgWrap {
        margin-bottom: -.6rem;
    }
}

h1,
h1>a {
    letter-spacing: .05rem;
    font-weight: 500;
    font-size: 1.3rem;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
}

a:hover {
    color: var(--cyan);
}

a::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    width: 0;
    background: var(--cyan);
    transition: width .2s;
}

a:hover:after {
    color: var(--cyan);
    width: 100%;
}

p {
    color: var(--softBlue);
    font-weight: 300;
    margin-top: .4rem;
}

tr {
    display: flex;
    justify-content: space-between;
}

td {
    color: var(--softBlue);
    display: flex;
    align-items: center;
    font-size: .95rem;

    img {
        margin-right: .5rem;
    }
}

td:nth-of-type(1) {
    color: var(--cyan);
    font-weight: 500;
}

footer {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.144);
    padding-top: 1rem;
    font-weight: 300;

    img {
        margin-right: 1rem;
        width: 11%;
        border: 1px solid white;
        border-radius: 50%;
    }

    img:hover {
        border: 1px solid var(--cyan);
        cursor: pointer;
    }

    span {
        color: var(--softBlue);
        margin-right: .3rem;
    }
}
