html,
body {
    padding: 0;
    margin: 0;
    background-color: hsl(30, 54%, 90%);
}

html {
    font-family: 'Outfit', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    box-sizing: content-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
}

main {
    border-radius: 2rem;
    background-color: white;
    width: 100%;
}

hr {
    width: 82%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid hsla(32, 10%, 34%, 0.288);
    margin: 0 2rem;
}

img {
    padding: 0;
    margin: 0 0 .4rem 0;
    width: 100%;
}

h1,
h2 {
    font-family: 'Young Serif';
    margin: 1.5rem 2.2rem 1rem 2.2rem;
    font-weight: 500;
}

h1 {
    line-height: 2.5rem;
    color: hsl(24, 5%, 18%);
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
    color: hsl(14, 45%, 36%);
}

p,
ul,
ol {
    font-size: 1.1rem;
    color: hsl(30, 10%, 34%);
}

header {
    margin-top: 2rem;
}

header p,
.nutri p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0rem 1.6rem 0 2.2rem;
    padding: .5rem 0rem;
}

ul {
    margin: .5rem 0 1.5rem 1.5rem;
    list-style: outside;
    content: "•";
    font-size: .9rem;
    color: hsl(332, 51%, 32%);
    padding: 0 0 .5rem 2rem;
}

li {
    margin: 0;
    padding: 0 1.4rem 0 1rem;
}

li p {
    line-height: 1.6rem;
    margin: .3rem .6rem .3rem .2rem;
    display: inline-block;
    vertical-align: middle;
}

ol {
    margin: .5rem 0 1.5rem 0;
    font-size: 1rem;
    color: hsl(332, 51%, 32%);
    padding-bottom: 1rem;
}

ol li,
ol p {
    vertical-align: top;
    padding: 0 1.4rem .2rem 0rem;
    margin: 0 0 0 1rem;
    line-height: 1.6rem;
}

ol li {
    font-family: Outfit !important;
    font-weight: 700;
}

ol p {
    font-weight: normal;
}

table {
    width: 80%;
    font-weight: 400;
    font-size: 1.1rem;
    border-collapse: collapse;
    margin: 0 0 1rem 2rem;
    color: hsl(30, 10%, 34%);
}

tr {
    border-bottom: 1px solid hsla(32, 10%, 34%, 0.295);
}

td {
    padding: 1rem 0 1rem 2rem;
}

table>*:last-child>tr:last-of-type {
    border: none;
}

.right {
    color: hsl(14, 45%, 36%);
    padding-right: 1.5rem;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    margin: 1.7rem 2.2rem;
    border-radius: .8rem;
}

.preparation h3 {
    font-size: 1.35rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    padding-left: 1.6rem;
    padding-top: 1.5rem;
    margin: 0;
}

.preparation ul {
    margin: .5rem 0 1.5rem 1.5rem;
    font-size: .8rem;
    padding: 0 0 1.1rem 1.4rem;
}

.instructions {
    margin: 2rem 0 1.8rem 0;
}

footer {
    margin-top: 1.4rem;

    img {
        display: inline;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 0;
        vertical-align: sub;
    }

    p {
        font-size: 0.938rem;
        font-weight: 800;
        display: inline;
        vertical-align: super;
        margin-left: 0.5rem;
    }


    a {
        position: relative;
        color: hsl(332, 51%, 32%);
        text-decoration: none;
        font-weight: 600;
    }

    a:hover {
        color: #000000;
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    a:hover::before {
        transform: scaleX(1);
    }
}


@media (min-width:740px) {
    main {
        box-sizing: border-box;
        width: 740px;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2.8rem;
    }

    img {
        width: 100%;
        border-radius: 1rem;
    }

    h1,
    h2,
    header p {
        padding: .7rem 0;
        margin: 0;
    }

    .preparation {
        padding: 0.02rem 0.2rem;
        margin: 1.5rem 0;

        ul {
            padding-bottom: 0;
        }
    }

    .ingredients ul {
        padding: 0 1rem 2rem 1rem;
        margin: 0;
    }

    hr {
        width: 100%;
        margin: 0;
    }

    .instructions {
        line-height: 2.7rem;
        width: 46rem;
        padding: 0;
        margin: 1rem 0;

        ol {
            padding: 0.2rem 0 .5rem .5rem;
        }
    }

    .nutri {
        margin: 1.4rem 0;

        p {
            margin: 0;
        }

        table {
            width: 100%;
            margin: 0;
        }

        td {
            padding-right: 0;
        }
    }
}